<% layout("layout/boilerplate") %>
<div class="container">
  <h1 class="text-center">Recipe Search</h1>
  <form class="search-form" action="/search" method="post">
    <input class="form-control" type="text" name="ingredients" id="ingredients" placeholder="Search by ingredients separated by commas">
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">Search Recipe</button>
    </div>
  </form>
  <h1 class="popular-recipes-heading">Popular Recipes</h1>
  <ul class="popular-recipes-list">
    <% recipes.forEach(recipe => { %>
    <li class="recipe-item">
      <h2 class="recipe-title"><%= recipe.title %></h2>
      <a href="/recipe/<%=recipe.id %>">
        <img class="recipe-image" src="<%= recipe.image %>" alt="<%= recipe.title %>">
      </a>
      <p class="recipe-details">Ready in <%= recipe.readyInMinutes %> minutes</p>
      <p class="recipe-details">Servings: <%= recipe.servings %></p>
    </li>
    <button class="btn btn-success">Add to favourites</button>
    <% }) %>
  </ul>
</div>

  




  