<% layout("layout/boilerplate") %>
<div class="container">
  <form class="search-form" action="/search" method="post">
    <div class="input-group">
      <input class="form-control" type="text" name="ingredients" id="ingredients" placeholder="Search by ingredients separated by commas">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </form>
  <h1 class="popular-recipes-heading mt-4">Popular Recipes</h1>
  <div class="row">
    <% recipes.forEach(recipe => { %>
    <div class="col-md-3">
      <div class="card mb-4">
          <div class="position-relative">
            <a href="recipe/<%=recipe.id %>">
              <%if (recipe.image) {%>
                <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.title %>">
                <%} else {%>
                <img class="card-img-top" src="https://fakeimg.pl/640x360" alt="Placeholder Image">
                <%}%>
            </a>
            <form action="/recipes/favorites/add" method="post" class="favorite-form">
              <input type="hidden" name="recipeId" value="<%= recipe.id %>">
              <button type="submit" class="favorite-button">
                <i class="fa fa-heart"></i>
              </button>
            </form>
          </div>
        <div class="card-body">
          <h5 class="card-title recipe-title"><%= recipe.title %></h5>
          <p class="card-text">Ready in <%= recipe.readyInMinutes %> minutes</p>
          <p class="card-text">Servings: <%= recipe.servings %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

