<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooks Companion</title>
</head>
<body> 
    <div class="container">
        <h1 class=""><%= recipe.title %></h1>
        <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <h2 class="text-center">Ingredients</h2>
        <ul>
            <% recipe.extendedIngredients.forEach(ingredient => {%>
                <li><%= ingredient.original %></li>
                <% })%>
        </ul>
        <h2>Instructions</h2>
        <ol>
            <%recipe.analyzedInstructions[0].steps.forEach(step => {%>
                <li><%= step.step %></li>
            <%})%>
        </ol>

        <h2>Similar Recipes</h2>
    <ul>
    <% simRec.forEach(similarRecipe => { %>
        <li>
            <a href="/recipe/<%= similarRecipe.id %>">
            <%= similarRecipe.title %>
            </a>
        </li>
  <% }); %>
    </ul>
    </div>
</body>
</html>

