<% layout("layout/boilerplate") %>
  <h1>Recipes</h1>
  <% if (recipes.length === 0) { %>
    <p>No recipes found.</p>
  <% } else { %>
    <ul>
      <% recipes.forEach(recipe => { %>
        <li>
          <h2><%= recipe.title %></h2>
          <a href="/recipe/<%= recipe.id %>">
            <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
          </a>
          <p>Likes: <%= recipe.likes %></p>
          <p>Missed Ingredients: <%= recipe.missedIngredientCount %></p>
          <% if (recipe.substitutes && recipe.substitutes.length > 0) { %>
            <h3>Substitutes:</h3>
            <ul>
              <% recipe.substitutes.forEach(substitute => { %>
                <li><%= substitute.name %></li>
              <% }) %>
            </ul>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } %>


