<% layout("layout/boilerplate") %>
<div class="container">
  <h1 class="text-center">Recipes</h1>
  <% if (recipes.length === 0) { %>
    <p class="text-center">No recipes found.</p>
  <% } else { %>
    <div class="row">
      <% recipes.forEach(recipe => { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text">Likes: <%= recipe.likes %></p>
            <p class="card-text">Missed Ingredients: <%= recipe.missedIngredientCount %></p>
            <% if (recipe.substitutes && recipe.substitutes.length > 0) { %>
              <h6 class="card-subtitle mb-2 text-muted">Substitutes:</h6>
              <ul class="list-unstyled">
                <% recipe.substitutes.forEach(substitute => { %>
                  <li><%= substitute.name %></li>
                <% }) %>
              </ul>
            <% } %>
            <a href="/recipe/<%= recipe.id %>" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  <% } %>
</div>


