<% layout("layout/boilerplate") %>
<div class="container">
  <form class="search-form" action="/search" method="post">
    <div class="input-group">
      <input class="form-control form-control-md" type="text" name="query" id="query" placeholder="Search for recipe">
      <div class="input-group-append">
        <button type="submit" class="btn btn-success">Search</button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">
          <i class="fas fa-filter"></i>
        </button>
      </div>
    </div>
  </form>
  
  
  <h1 class="popular-recipes-heading mt-4 text-center mb-4">Popular Recipes</h1>
  <div class="row">
    <% recipes.forEach(recipe => { %>
    <div class="col-md-3">
      <div class="card mb-4">
          <div class="position-relative">
            <a href="recipe/<%=recipe.id %>">
              <%if (recipe.image) {%>
                <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.title %>">
                <%} else {%>
                <img class="card-img-top" src="http://via.placeholder.com/640x400" alt="Placeholder Image">
                <%}%>
            </a>
            <form action="/recipes/favorites/add" method="post" class="favorite-form">
              <input type="hidden" name="recipeId" value="<%= recipe.id %>">
              <button type="submit" class="favorite-button">
                <i class="fa fa-heart"></i>
              </button>
            </form>
          </div>
        <div class="card-body">
          <h5 class="card-title recipe-title mb-3"><i class="fas fa-utensils"></i> <%= recipe.title %></h5>
          <p class="card-text"><i class="fas fa-clock"></i> Ready in <%= recipe.readyInMinutes %> minutes</p>
          <p class="card-text"><i class="fas fa-users"></i> Servings: <%= recipe.servings %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <!-- Pagination code -->
  <nav>
    <ul class="pagination pag">
      <!-- <li class="page-item d-none">
        <a class="page-link" href="#" id="prev-page">Previous</a>
      </li> -->
      <li class="page-item">
        <a class="page-link cta-btn view-recipes" href="#" id="next-page">Next</a>
      </li>
    </ul>
  </nav>
</div>


<!-- Create the filter modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="search-form" action="/search" method="post">
          <div class="mb-3">
            <label for="type" class="form-label">Type:</label>
            <select class="form-select" name="type" id="type">
              <option value="">Select Type</option>
              <option value="main course">Main Course</option>
              <option value="side dish">Side Dish</option>
              <option value="dessert">Dessert</option>
              <option value="appetizer">Appetizer</option>
              <option value="salad">Salad</option>
              <option value="snack">Snack</option>
              <option value="soup">Soup</option>
              <option value="breakfast">Breakfast</option>
              <option value="marinade">Marinade</option>
            </select>
          </div>
          <!-- <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients:</label>
            <input class="form-control" type="text" name="ingredients" id="ingredients" placeholder="Enter ingredients separated by comma">
          </div> -->
          <div class="mb-3">
            <label for="cuisine" class="form-label">Cuisine:</label>
            <select class="form-select" name="cuisine" id="cuisine">
              <option value="">Select Cuisine</option>
              <option value="African">African</option>
              <option value="Asian">Asian</option>
              <option value="American">American</option>
              <option value="Chinese">Chinese</option>
              <option value="French">French</option>
              <option value="Indian">Indian</option>
              <option value="Italian">Italian</option>
              <option value="Jewish">Jewish</option>
              <option value="Mexican">Mexican</option>
              <option value="Thai">Thai</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="diet" class="form-label">Diet:</label>
            <select class="form-select" name="diet" id="diet">
              <option value="">Select Diet</option>
              <option value="Gluten Free">Gluten Free</option>
              <option value="Ketogenic">Ketogenic</option>
              <option value="Vegetarian">Vegetarian</option>
              <option value="Vegan">Vegan</option>
              <option value="Paleo">Paleo</option>
            </select>
          </div>
            <div class="mb-3">
              <label for="time" class="form-label">Max Ready Time (minutes):</label>
              <input class="form-control" type="number" name="time" id="time" min="5" placeholder="Enter maximum ready time">
            </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Apply Filters</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
</script>