<% layout("layout/boilerplate") %>
        <h1 class=""><%= recipe.title %></h1>
        <a href="/recipe/<%= recipe.id %>">
            <%if (recipe.image) {%>
                <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
                <%} else {%>
                <img class="card-img-top" src="https://fakeimg.pl/640x360" alt="Placeholder Image">
                <%}%>
        </a>
        <h2 class="">Ingredients</h2>
        <ul>
            <% recipe.extendedIngredients.forEach(ingredient => {%>
                <li><%= ingredient.original %></li>
                <% })%>
        </ul>
        <h2>Instructions</h2>
        <ol>
            <%recipe.analyzedInstructions[0].steps.forEach(step => {%>
                <li><%= step.step %></li>
            <%})%>
        </ol>

        <h2>Similar Recipes</h2>
    <ul>
    <% simRec.forEach(similarRecipe => { %>
        <li>
            <a href="/recipe/<%= similarRecipe.id %>">
            <%= similarRecipe.title %>
            </a>
        </li>
  <% }); %>
    </ul>
