<% layout("layout/boilerplate") %>
<div class="container">
  <% if (recipes.length === 0) { %>
    <div class="alert alert-info text-center" style="color: #333;" role="alert">
      No recipes found
    </div>
  <% } else { %>
    <h1 class="text-center mb-4">Search results</h1>
    <div class="row">
      <% recipes.forEach(recipe => { %>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="position-relative">
            <a href="recipe/<%= recipe.id %>">
              <% if (recipe.image) { %>
                <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.title %>">
              <% } else { %>
                <img class="card-img-top" src="../Images/placeholder.png" alt="Placeholder Image">
              <% } %>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title recipe-title mb-3"><i class="fas fa-utensils"></i> <%= recipe.title %></h5>
            <% if (recipe.details) { %>
              <p class="card-text"><i class="fas fa-clock"></i> Ready in <%= recipe.details.readyInMinutes %> minutes</p>
              <p class="card-text"><i class="fas fa-users"></i> Servings: <%= recipe.details.servings %></p>
            <% } %>
            <% if (recipe.substitutes && recipe.substitutes.length > 0) { %>
              <h6 class="card-subtitle mb-2 text-muted">Substitutes:</h6>
              <ul class="list-unstyled">
                <% recipe.substitutes.forEach(substitute => { %>
                  <li><%= substitute.name %></li>
                <% }) %>
              </ul>
            <% } %>
          </div>  
        </div>
      </div>
      <% }) %>
    </div>
  <% } %>
</div>
